<!doctype html>
<html lang="{{ site.lang | default: " en-US " }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1"> {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

</head>

<body>

    <header>
        <h1>Serverless Tutorial</h1>
        <p>{{ site.description | default: site.github.project_tagline }}</p>
    </header>

    <div class="wrapper">
        <nav>
            <ul></ul>
        </nav>
        <section>
            {{ content }}

        </section>
        <footer>
            {% if site.github.is_project_page %}
            <p><a href="{{ site.github.repository_url }}">GitHub repository</a></p>
            {% endif %}
        </footer>
    </div>
</body>

</html>